@import './variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $brandFont, sans-serif;
    color: $textColor;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}