@mixin flex-center ($axis: 'both') {
    display: flex;

    @if $axis == 'vertical' {
        align-items: center;
    } @else if $axis == 'horizontal' {
        justify-content: center;
    } @else if $axis == 'both' {
        align-items: center;
        justify-content: center;        
    }
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}